body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.container {
  max-width: 1200px;
}

.container img {
  max-width: 100%;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}
.dancer.blinky{
  border:10px solid red;
  border-radius:10px;
}
.dancer.bouncy img {
  width: 100px;
}
.dancer.shuffle img {
  width: 200px;
}
.dancer.shark img {
  width: 250px;
}

a:hover {
  color: purple;
}
